@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
.banner{
  height: 25vh;
  background: #EBE9E9;
}

.header{
  display: flex;
  flex-direction: column;
}

.header h1{
  font-family: 'Crimson Text', serif;
  font-weight: 300;
  font-size: 50px;
}

#text{
  border: none;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  padding-top: 20px;
}

.color-body{
  background: #F3F8F2;
  height: 100vh;
}
